/*
    reader.js - A lightweight EPUB reader in JavaScript with annotation support
    Copyright © 2015  RunasSudo (Yingtong Li)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.nav {
	position: fixed;
	z-index: 999;
	left: 1em;
	top: 1em;
	text-align: center;
}

.nav a {
	background-color: #fcfff6;
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	color: #333;
	font-size: 0.7em;
	display: block;
	padding: 3px;
	text-decoration: none;
}

#book {
	width: 100%;
	max-width: 33em;
}

@media screen {
	#book {
		box-shadow: 5px 5px 25px 10px #888;
		margin: 1em auto;
		padding: 3em 4em;
	}
}

@media screen and (max-width: 768px), screen and (max-device-width: 1024px) {
	#book {
		box-shadow: none;
		max-width: 100%;
		margin: 0;
		box-sizing: border-box;
		
		margin: 0.5em auto;
		padding: 1.5em 2em;
	}
	body {
		font-size: 2em;
	}
}
